main {
    padding:60px 15px;
}
.profile {
    display:flex;
    align-items:center;
    justify-content:center;
}
.profile__actions {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width:240px;
}
    .profile__actions a,
    .profile__actions i {
        color:orange;
    }
.profile__img {
    display:flex;
    align-items:center;
    justify-content:center;
}
    .profile__img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid orange;
    }
.profile__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:10px 0;
    font-size: 1.75rem;
    line-height: 1.02;
    color:rgba(0,0,0,0.55);
}
.profile__job {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:10px 0;
    font-size: 1.25rem;
    line-height: 1.02;
    color:orange;
}
.profile__description {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:rgba(0,0,0,0.55);
}
.profile__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    .profile__social a {
        margin:0px 2px;
    }
.flip {
    width:270px;
    height: 370px;
}
    .flip .front,
    .flip .back {
        padding:15px;
        border:2px solid orange;
        background-color: rgba(255, 165, 0, 0.075);
        box-shadow:2px 2px 3px 1px rgba(0,0,0,0.5);
        cursor:pointer;
    }