html {
    background-color: #f6f9f9;
    color: #95a4a9;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #339999;
    font-weight: bold;
}

body {
    margin: 0 auto;
    text-align: center;
}

.avatar img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 125px;
}

.content {
    width: 100%;
}

.title {
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
}
